/* CSS declarations go here */

a:hover, i:hover
{
    color: inherit !important;
    text-decoration: none !important;
}

nav
{
    position: fixed;
    z-index: 3;
}

.top-down
{
    margin-top: 70px;
}