/* CSS declarations go here */

a:hover, i:hover
{
    color: inherit !important;
    text-decoration: none !important;
}

nav
{
    position: fixed;
    z-index: 3;
}

.top-down
{
    margin-top: 70px;
}

/*Makes the Modal look like a G*/

.modal-content, .modal-footer
{
    border: none !important;
    background-color: #FAFAFA !important;
}

.modal-content
{
    border-bottom-left-radius: 0% !important;
    border-bottom-right-radius: 0% !important;
}

.modal-footer
{
    padding-bottom: 75px !important;
    padding-right: 10px !important;
}

.modal-footer button
{
    background-color: transparent;
    border: none;
}

.itemQuantity, .itemOwner
{
    float: right;
}

.itemOwner
{
    margin: 0px 20px ;
    outline: lightblue;
}

#login-dropdown-list
{
    margin-left: -500px;
    margin-top: 100px;
    display: block;
    width: 500px;
}
/*End of making the Modal look like a G*/